body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #DCDCDC;
}

.favorite-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.favorite-list-item {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  border: 1px solid gray;
  height: 60px;
  background: #FFF;  
}
